<footer class="c-footer">
  <div class="o-wrapper">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item u-2/3@desktop o-spacer__top--huge o-spacer__bottom--huge">


        <ul class="o-list-inline c-footer__social">
          <li class="o-list-inline__item"><a href="https://github.com/kirbyyardley" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
          <li class="o-list-inline__item"><a href="https://twitter.com/kirby_yardley" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          <li class="o-list-inline__item"><a href="https://www.linkedin.com/in/kirbyyardley" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
          <li class="o-list-inline__item"><a href="https://www.youtube.com/channel/UCJHUnUBHETnsTj4uFghY2kA" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
          <li class="o-list-inline__item"><a href="https://medium.com/@kirbyyardley" target="_blank"><i class="fab fa-medium-m" aria-hidden="true"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
