<div class="c-loading__modal">
  <div class="c-progress">
    <div class="c-progress__bar"></div>
  </div>
  <div class="c-loading__container">
    <div class="c-loading__container--inner">
      <div class="c-loading__top"></div>
      <div class="c-loading__main up">
        <p>initializing buzzwords...</p>
        <p>ideating good ideas...</p>
        <p>evangelizing some things...</p>
        <p>making everything parallax...</p>
        <p>generating hype...</p>
      </div>
      <div class="c-loading__bottom"></div>
    </div>
  </div>
</div>
