.o-overlay__image--black {
  position:absolute;
  top:0!important;
  left:0!important;
  bottom:0!important;
  right:0!important;
  transform: none!important;
  background-color: rgba(0, 0, 0, 0.5);
}
