.o-spacer__bottom {
  margin-bottom: $inuit-global-spacing-unit;
}

.o-spacer__top {
  margin-top: $inuit-global-spacing-unit;
}

.o-spacer__bottom--large {
  margin-bottom: $inuit-global-spacing-unit*2;
}

.o-spacer__top--large {
  margin-top: $inuit-global-spacing-unit*2;
}

.o-spacer__bottom--huge {
  margin-bottom: $inuit-global-spacing-unit*4;
}

.o-spacer__top--huge {
  margin-top: $inuit-global-spacing-unit*4;
}
