$color-red: #e24f54;
$color-yellow: #FFEB3B;
$color-black: #282a2d;
$color-gray: lighten($color-black, 75%);
$color-dark-gray: #1D1E22;
$color-dark-blue: rgb(13, 7, 30);
$color-white: #ffffff;
$color-black-overlay: rgba(0,0,0,0.78);
$color-background-gray: #e8e8e8;
$color-salmon: #fd8180;
$color-light-blue: #0096ff;
$color-dark-blue: #130074;
$color-midnight: #090035;
$color-pastel-blue: #a7cfdd;

$color-1: $color-pastel-blue;
$color-2: $color-red;
