$color-red: #B71C1C;
$color-yellow: #FFEB3B;
$color-black: #000000;
$color-dark-gray: #1D1E22;
$color-dark-blue: rgb(13, 7, 30);
$color-white: #ffffff;
$color-black-overlay: rgba(0,0,0,0.78);
$color-background-gray: #e8e8e8;
