// .c-page, .c-main {
//   max-width: 960px;
//   margin: 0 auto;
// }

.c-hero {
  // margin-bottom: $inuit-global-spacing-unit*4;
}

.c-hero__content {
  margin: $inuit-global-spacing-unit*4 0 $inuit-global-spacing-unit*2;
  h1 {
    max-width: 760px;
    margin-bottom: $inuit-global-spacing-unit/2;
  }
}

.c-hero-button {
  color: $color-white;
  background-color: $color-2;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 16px 48px;
  border-radius: 3px;
  font-weight: bold;
  margin-right: $inuit-global-spacing-unit;
  margin-bottom: $inuit-global-spacing-unit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: box-shadow .3s, background-color .3s;
  -moz-transition: box-shadow .3s, background-color .3s;
  -ms-transition: box-shadow .3s, background-color .3s;
  -o-transition: box-shadow .3s, background-color .3s;
  transition: box-shadow .3s, background-color .3s;
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // background-color: $color-light-blue;
  }
  &.c-hero-button--white {
    background-color: $color-white;
    color: $color-2;
  }
}

.c-section {
  min-height: 667px;
}

.c-images {
  float: left;
}

.c-images--padded {
  padding: 12px;
}

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
