$nav-height: 80px;
$nav-width: 270px;
$nav-padding-desktop: 32px;
$nav-padding-mobile: 24px;


.menu-transition {
   transition: 0.5s;
}

.c-nav {
  margin: 0;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq($until: tablet) {
    left: $inuit-global-spacing-unit;
    transform: translate(0, -50%);
  }
}

.c-nav__menu {
  background: $color-black;
  z-index:900;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -72px;
  height: 4.5rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  transition: 0.5s;
  box-sizing: border-box;
}

.c-nav__menu li {
  text-align: center;
  display: inline;
  margin-left: $inuit-global-spacing-unit;
  &:first-child {
    margin-left: 0;
  }
}

.c-nav__menu a {
  position: relative;
  font-family: $heading-font-family;
  font-weight: 700;
  color: $color-white;
  letter-spacing: .055rem;
  text-decoration: none;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: $color-2;
  }
  &:before {
    left: -2.5px;
  }
  &:after {
    right: 2.5px;
    background: $color-2;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  &:hover {
    &:before {
      background: $color-2;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}

.c-nav__open-menu,
.c-nav__open-menu:hover {
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: $inuit-global-spacing-unit;
  right: $inuit-global-spacing-unit;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  span {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 4px $color-white solid;
    -webkit-transition: width .3s,-webkit-transform .2s;
    transition: width .3s,-webkit-transform .2s;
    -o-transition: width .3s,-o-transform .2s;
    -moz-transition: transform .2s,width .3s,-moz-transform .2s;
    transition: transform .2s,width .3s;
    transition: transform .2s,width .3s,-webkit-transform .2s,-moz-transform .2s,-o-transform .2s;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
  }
  span:last-child {
    width: 14px;
    margin: 5px 0 0 auto;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: 8px;
    background: $color-black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 3px;
    z-index: -1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  &:hover {
    span:first-child {
      width: 14px;
    }
    span:last-child {
      width: 100%;
    }
  }
}

#menu-trigger:checked~.c-nav__open-menu {
  span {
    width: 40px!important;
    -webkit-transition-delay: .1s,0s;
    -moz-transition-delay: .1s,0s;
    -o-transition-delay: .1s,0s;
    transition-delay: .1s,0s;
  }
  span:first-child {
    -webkit-transform: translateY(10px) rotate(-45deg);
    -moz-transform: translateY(10px) rotate(-45deg);
    -ms-transform: translateY(10px) rotate(-45deg);
    -o-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  span:last-child {
    -webkit-transform: translateY(1px) rotate(45deg);
    -moz-transform: translateY(1px) rotate(45deg);
    -ms-transform: translateY(1px) rotate(45deg);
    -o-transform: translateY(1px) rotate(45deg);
    transform: translateY(1px) rotate(45deg);
  }
}

#menu-trigger {
   display: none;
}

#menu-trigger:checked~nav {
   top: 0;
   transition: 0.5s;
}
