
.c-sort button {
  background-color: transparent;
  color: $color-dark-gray;
  font-size: 14px;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: .05em;
  opacity: .25;
  cursor: pointer;
  padding: 0;
  margin: 0 $inuit-global-spacing-unit 0 0;
  transition: opacity 0.2s ease;
  @include mq($until: tablet) {
    margin: 0 12px 0 0;
  }
}

button:hover, button.active {
  opacity: 1;
}

button:focus {outline:none;}

.c-work {

}
.c-work-item {
  &.c-work-item--design:before {
      content: '\f121';
  }
  &.c-work-item--video:before {
      content: '\f144';
  }
  &.c-work-item--writing:before {
      content: '\f303';
  }
  &:before {
    position: absolute;
    font-family: $icon-font-family;
    font-weight: 300;
    z-index: 100;
    opacity: 0;
    color: $color-black;
    transition: all 0.3s ease;

    top: 16px;
    left: 16px;
    font-size: 24px;
    transform: translate(0,0);
  }
  float: left;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  // margin-bottom: $inuit-global-spacing-unit/3;
  a {
    display:block;
  }
  .o-overlay__image--black {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover {
    .o-overlay__image--black, .c-work-item__label {
      opacity: 1;
    }
    .c-work-item__label {
      transform: translate(-50%, -50%);
    }
    &:before {
      color: $color-yellow;
      opacity: 1;
      top: 16px;
      left: 16px;
      font-size: 24px;
      transform: translate(0,0);
    }
  }
}
.c-work-item__label {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 100%;
  padding: 16px;
  opacity: 0;
  color: $color-white;
  transition: transform 0.5s ease;
  a {
    color: $color-white;
  }
  span {
    font-family: $heading-font-family;
    color: $color-yellow;
    font-size: 14px;
    font-weight: 100;
  }
  h5 {
    text-transform: lowercase;
    margin: 0;
    font-weight: 700;
    line-height: 30px;
  }
}
