
.c-project__container {
  margin-bottom: 0!important;
}

.c-project--design:hover {
  &:before {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  &:after {
    width: 100vw;
  }
}

.c-project--design {
  position: relative;
  padding: 80px $inuit-global-spacing-unit;
  margin-bottom: 0!important;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    .c-project__cta {
      background: $color-2;
      color: $color-white!important;
    }
    .c-project__label {
      transform: translateX(5%);
      h4 {
        color: $color-black;
      }

    }
  }
  &:before {
    z-index: 1;
    width: 100vw;
    background-color: #e3e8eb;

  }
  &:after {
    z-index: 2;
    width: 0;
    background-color: $color-1;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-transition: .375s ease all;
    transition: .375s ease all;
  }
  a {
    z-index: 10;
    position: relative;
    display:block;
  }
  .c-project__inner {
    max-width: 1072px;
    margin: 0 auto;
    position: relative;
    .c-project__label {
      transition: .375s ease all;
      width: 50%;
      span {
        display: inline-block;
      }
      h4 {
        color: $color-black;
        margin-bottom: 8px;
      }
      @include mq($until: tablet) {
        width: 66.66%;
      }
    }
    .c-project__cta {
      max-width: 250px;
      color: $color-2;
      border: solid 1px $color-2;
      border-radius: 100px;
      text-align: center;
      padding: 12px 24px;
      transition: all .2s ease-in-out;
      margin-top: $inuit-global-spacing-unit;
      @include mq($from: tablet) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top:0;
      }
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
  .c-project__image {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: .25;
    // transition: all .2s ease-in-out;
    max-width: 420px;
    @include mq($until: tablet) {
      left: 80%;
    }
    .c-project--design:hover & {
      // transform: scale(.1);
    }
  }
}

/* PROJECT SPECIFIC STYLES */

.c-project--app {

}

.c-project--styleguide {
  .c-project__image {
    max-width: 200px;
  }
}

.c-project--dist {
  .c-project__image {
    max-width: 200px;
  }
}

.c-project--photo {
  .c-project__image {
    max-width: 160px;
  }
}
