---
layout: default
---

<div id="buttons" class="c-sort">

</div>

<div id="gallery" class="c-work">

  <div class="">
    
    {% for page in site.projects reversed %}
    <div class="u-1/3@desktop u-1/2@tablet u-1/2@mobile u-1/1 c-work-item c-work-item--{{ page.categories }}" data-tags="{{ page.categories }}">
      <div class="o-overlay__image--black"></div>
      <a href="{{ page.url }}">
        <div class="c-work-item__label">
          <h5>{{ page.title }}</h5>
          <span>{{ page.summary }}</span>
        </div>
        <div class="o-crop o-crop--1:1">
          <img src="{{ site.baseurl }}/assets/img/{{ page.image }}" class="o-crop__content o-crop__content--center" alt="">
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

</div>
