---
layout: default
---

<div class="o-height--full o-center--vertical c-background--1">
  <div class="o-wrapper o-spacer__bottom--large">
    <div class="o-layout">
      <div class="o-layout__item">
        <div class="c-hero">
          <div class="c-hero__content">
            <h4>My name is Kirby.</h4>
            <h1>I'm a ux/ui designer who writes lot of front-end code.</h1>
          </div>
        </div>
      </div>
      <div class="o-layout__item o-spacer__bottom--large">
        <a class="c-hero-button" href="#design">Design Projects</a>
        <a class="c-hero-button c-hero-button--white" href="#creative">Creative Projects</a>
      </div>
    </div>
  </div>
</div>

<div class="" id="design">
  <ul class="o-list-bare c-project__container">

  {% assign features = site.projects | where: "categories", "design" %}
  {% for page in features reversed %}
    <li class="c-project c-project--{{ page.categories }} c-project--{{ page.code }}" data-tags="{{ page.categories }}">
      <a href="{{ page.url }}">

        <img class="c-project__image lazyload" src="{{ site.baseurl }}/assets/img/{{ page.image }}" alt="">
        <div class="c-project__background"></div>
        <div class="c-project__inner">
          <div class="c-project__label">
            <h4>{{ page.title }}</h4>
            <span>{{ page.summary }}</span>
          </div>
          <div class="c-project__cta">
            {{ page.cta }}
          </div>

        </div>

      </a>
    </li>
  {% endfor %}

  </ul>
</div>


<div id="creative" class="o-height--twothirds o-center--vertical c-background--2">
  <div class="o-wrapper">
    <div class="o-layout">
      <div class="o-layout__item u-3/4@desktop u-3/4@tablet">
        <h3>Psychology, Philosophy, Literature, and Film</h3>
        <p>The most exciting and important aspects of design are the users that I am designing for. I study philosophy and psychology in order to form a deeper understanding of what motivates people, how they determine their values, and how technology may be used to enchance their lives.</p>
        <p>I devote much of my free time engaging with literature and film, which I believe offer additional windows into the human psyche. You can find some of my creative and analytical work on <a target="_blank" href="https://www.youtube.com/channel/UCJHUnUBHETnsTj4uFghY2kA">Youtube</a> and <a target="_blank" href="https://medium.com/@kirbyyardley">Medium</a>.</p>

      </div>
    </div>
  </div>
</div>

<div style="background: #000000;" class="o-center--vertical c-video__container">
  <div class="c-video__inner">

    {% assign features = site.projects | where: "categories", "video" %}
    {% for page in features limit:3 %}
      <div class="o-height--twothirds c-{{ page.categories }}__project c-project--{{ page.code }}" data-tags="{{ page.categories }}">

        <div class="c-video__overlay"></div>
        <video preload="none" muted loop playsinline class="lazyload c-video__video" data-poster="{{ site.baseurl }}/assets/img/{{ page.videopreview }}">
          <source src="{{ site.baseurl }}/assets/img/{{ page.videofile }}" type="video/mp4">
          <!-- <source src="{{ site.baseurl }}/assets/img/sample3.mp4" type="video/webm; codecs=vp8, vorbis"> -->
        </video>
        <a href="{{ page.url }}">
          <div class="c-video__label-container">
            <div class="c-video__label">
              <span>{{ page.summary }}</span>
              <h3>{{ page.title }}</h3>
            </div>
          </div>
        </a>

      </div>
    {% endfor %}

  </div>
</div>

<div id="writing" class="o-wrapper o-spacer__top--huge o-spacer__bottom--huge">
  <div class="o-layout">
    <div class="o-layout__item">
      <div class="c-project__container">

        {% assign features = site.projects | where: "categories", "writing" %}
        {% for page in features reversed limit:3 %}
          <div class="c-project c-project--{{ page.categories }} c-project--{{ page.code }}" data-tags="{{ page.categories }}">
            <a target="_blank" href="{{ page.href }}">
              <div class="c-project__inner">
                <!-- <div class="c-project__image">
                  <img class="lazyload" data-src="{{ site.baseurl }}/assets/img/{{ page.image }}" alt="">
                </div> -->
                <div class="c-project__label">
                  <span>{{ page.summary }}</span>
                  <h4>{{ page.title }}</h4>
                  <p>{{ page.intro }}</p>
                  <a class="c-hero-button" target="_blank" href="{{ page.href }}">{{ page.cta }}</a>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
